  <div style="border: solid 1px black;" class=" card m-3" >
        <div class="car-img wrapper">
          <img  class=" card-img-top" src="{{user.photoUrl||'assets/images/user.png'}}" alt="{{user.knownAs}}">
          <ul dir="ltr" class="list-inline members-icons animate text-center">
            <li class="list-inline-item">
              <button class="btn btn-sm btn-outline-danger" [routerLink]="['/member/',user.id]"   >
              <i class="fa fa-user"></i>
              </button>
            </li>
            <li class="list-inline-item">
              <button (click)="sendLike(user.id)" class="btn btn-sm btn-outline-danger">
              <i class="fa fa-heart"></i>
              </button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-sm btn-outline-danger">
              <i class="fa fa-envelope"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body p-1">
              <h5 class="card-title text-center mb-1"><i class="fa fa-user"></i>  
                {{user.knownAs}},{{user.age}}
              </h5>
              <p class="card-text text-muted text-center"> 
                {{user.city}} 
              </p>
          
        </div>
  </div>
