nav{
    width: 95%;
    margin: 0 2.5%;
}
.nav-link
{
    color:black !important ;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: red !important;
}
.btn-outline-success:hover {
    text-decoration: none;
    color: black !important;
    background:green !important
      }
/*------------nav--Css--End----------*/