
<nav class="navbar navbar-expand-md navbar-light  bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: red;font-size:2.25rem;font-weight:bolder;" 
    [routerLink]="['/home']">
      <i class="fa fa-heart" aria-hidden="true"></i>HITTA PARTNER<i class="fa fa-heart" aria-hidden="true"></i></a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul *ngIf="loggedIn()" class="navbar-nav me-auto mb-2 mb-md-0 " >
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link "  [routerLink]="['/home']"  >HEM</a>
              </li>
              <li class="nav-item"routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']"  >SÖK</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']" >CHATT</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']" >MIN LISTA</a>
              </li>
             
          </ul>
      <div dropdown *ngIf="loggedIn()" class="dropdown ">
      
              <a  dropdownToggle class="dropdown-toggle text-dark nav-link " >
                <img src="{{photoUrl ||'assets/images/user.png'}}">  {{authService.decodedToken?.unique_name |titlecase}}
              </a>
             
            
              <ul *dropdownMenu id="dropdown-menu" class="dropdown-menu  " >
                    <li>
                      <a class="dropdown-item " [routerLink]="['/memberedit']">
                        <i class="fa fa-user-o mr-2"  aria-hidden="true"></i><span style="margin-left:5px;">MIN PROFIL</span>
                      </a>
                    </li>
                <div class="dropdown-divider"></div>
                    <li>
                      <a (click)="loggedOut()"class="dropdown-item">
                        <i  class="fa fa-sign-out"  aria-hidden="true"></i><span style="margin-left:5px;">LOGGA UT</span>
                      </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a class="dropdown-item">
                        <i class="fa fa-key"></i><span style="margin-left:5px;">ÄNDRA LÖSENORD</span>
                      </a>
                    </li>
              </ul>
           
      </div>
      
            <div id="firstPagelinks" *ngIf="!loggedIn()" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
                    <li class ="nav-item" routerLinkActive="active">
                      <a  id="nav-link"class="nav-link"  [routerLink]="['/home']" >BLI MEDLEM</a>
                    </li>
                    <li class ="nav-item" routerLinkActive="active">
                      <a id="nav-link" class="nav-link" [routerLink]="['/login']"  >LOGGA IN</a>
                    </li>
                </ul>
            </div>
     
    </div>
  </div>
</nav>




  