
    <form [formGroup]="registerForm" (ngSubmit)="register()" >
        <div class="regForm">
            <div class="text-center texet-dark">
                <h2  style="font-weight: bolder;font-size: 3rem; color:red !important ;">
                    <p>Din partner väntar på dig</p>
                </h2>
            </div>
            
                <hr>
                    <div   class="form-group " style="margin:15px 40px">
                        <input formControlName="userName" id="reg-input" type ="text" class="form-control" placeholder="Änvändarnamn">
                    </div>
                    <div class="form-group"style="margin:15px 40px">
                        <input formControlName="password" id="reg-input" required type ="text" class="form-control" placeholder="Lösenord">
                    </div>
                    <div class="form-group"style="margin:15px 40px">
                        <input formControlName="confirmPassword" id="reg-input" type ="text" class="form-control" placeholder="Bekräfta lösenord">
                    </div>
         </div>
                    <div class="form-group text-center"style="margin:10px 0;">
                        <button id="reg-button" class="btn btn-success " type="submit">BLI MEDLEM NU</button>
                        <button  (click)="cancel()" id="reg-button"  class="btn btn-success " type="button">INTE NU</button>
                    </div>
        
    </form>
    <p style="font-weight: bolder;font-size: 3rem; color:red !important ;">{{registerForm.value|json}}</p>
    <p style="font-weight: bolder;font-size: 3rem; color:red !important ;">{{registerForm.status}}</p>

