.mainContent
{
   width: 98%;
   height: 800px;
   margin: 0 1%;
   background: url('../assets/images/Hem-background.jpg') no-repeat center 20%;
    background-size: cover;

}
.mainContent
{
    width: 98%;
    margin: 0 1%;
}
#container-text
{
width: 100%;
margin: 0;
}
