<div class="container">
        <div class="text-center mt-5">
                <h2 style=" font-weight: bolder ;color:red !important">Hitta den bäst att dela livet med  </h2>
                <h3 style=" font-weight: bolder ;color:red !important">Hitta kärleken</h3>
            <div class="text-center">
                  <button class="btn btn-success btn-lg mt-8"style="color:#eee !important">BLI MEDLEM</button>
            </div>
        </div>

      <div class="container">
              <div class="row justify-content-center">
                      <div class="col-4">
                           <app-register></app-register>
                      </div>
              </div>

      </div>
</div>
