
.btn:hover {
    text-decoration: none;
    color: #eee !important;
    background:green !important
   
      }
      #reg-temp
      {
        margin-top: 100px;
      }
      .opacity-background
      {
       
        background-color: #eee;
        opacity: 0.7;
        height: 200px;
        margin-top: 165px;
        
        
      }
     
      