
.btn:hover {
    text-decoration: none;
    color: #eee !important;
    background:green !important
   
      }
      #reg-temp
      {
        margin-top: 100px;
      }
      .opacity-background
      {
       
        background-color: #eee;
        opacity: 0.7;
        height: 250px;
        margin-top: -30px;
        
        
      }
     
      #container
      {
        width: 98%;
        height: 800px;
   
        background: url('src/assets/images/Hem-background.jpg') no-repeat center 20%;
        background-size: cover;
        position:absolute;
      }
  