<div class="container mt-4 fixed">
  <div class="row">
    <div class="col-sm-4 mt-3">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl||'assets/images/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Bostadsort </strong>
            <p>{{user.country}},{{user.city}}</p>
          </div>
          <div>
            <strong> Ålder </strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Senast sedd  </strong>
            <p>{{user.lastActive|dateAgo}}</p>
          </div>
          <div>
            <strong>Prenumererade sedan  </strong>
            <p>{{user.created|date}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-danger w-100">Gilla</button>
            <button class="btn btn-success  w-100">Skicka meddelande</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-Panel">
        <tabset class="member-tabset">
          <tab heading=" {{user.knownAs}}">
            <div class="card">
                <div class="card-header">
                    <h4>Om mig</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p #ShowIntro>{{user.introduction|slice:0:100}}</p>
                   
                  </div>
                  
            </div>
            
            <div class="card mt-4">
                <div class="card-header">
                    <h4>Letar efter</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p>{{user.lookingFor |slice:0:100}}</p>
                  </div>
            </div>

            
          </tab>
      
      

      <tab heading="Mina intressen">
          <div class="card">
              <div class="card-header">
                  <h4>Mina intressen</h4>
                </div>
                <div class="card-text mt-3 p-2">
                    <p>{{user.interests |slice:0:100}}</p>
                </div>
          </div>
      </tab>


      <tab heading="Mina bilder">

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </tab>

      <tab heading="Meddelanden">
        <h4>Meddelanden</h4>
        <p>Meddelanden</p>
      </tab>

      </tabset>
    </div>
  </div>
</div>
</div>