/* You can add global styles to this file, and also import other style files */
*,body,html
{
    margin: 0%;
    padding: 0%;
    font: 1em "open Sans",sans-serif;
}
body
{
    background-color: #eee;
}
header
{
    width: 80%;
    height: 100px;
    position: fixed;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;

}
.Logo
{
    height: 60px;
    padding: 10px;
    margin: 10px 20px;
    float: left;
}
nav
{
    height: 100px;
    
}
#nav-items ul{
    list-style: none;
    
}
#nav-items ul li{
 
    float: right;
}
.nav-item
{
    text-decoration: none;
    height: 60px;
    padding: 10px;
    margin: 10px 20px;
    color: black;
    display: inline-block;
}
.nav-item:hover 
{
   color:red; 
   
}