.card {
    border: none;
  }
  .card-body {
    overflow-y: scroll;
    height: 350px;
    }
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat li {

    margin-top: 5px;
    font-weight:bold;
    font-size:1.2rem;
    border-bottom: 1px solid #B3A9A9;
    
  }
  
  .rounded-circle {
    height: 50px;
    width: 50px;
    
  }
  
  
    .content-outbox{
        text-align:right;
        padding-top: 12px;
        text-indent: 11px;
      
     }
     .content-inbox{
        text-align: left !important;
        padding-top: 12px;
        text-indent: 11px;
   }
   .badge{
    border-radius: 20px;
    max-height: 58px;
    padding-top: 4px;
   }
   small{
  
    font-size:1rem !important;
    color:black !important;
   }

   .btn-primary:hover{
    text-decoration: none;
    color: white !important;
    background:red !important;
    letter-spacing:0.5px;
    
  }

  .btn-primary{
    text-decoration: none;
    letter-spacing:0.5px;
    font-weight:bold;
    font-size:1rem;
    outline: none;
    background-color:green !important;
  color: white;
  border-radius: 16px 16px 0 0/13px 17px 16px 16px !important; 
    
      }
      input{
        border-radius: 16px 16px 0 0/13px 17px 16px 16px !important; 
        border:solid grey 1px ;
      }
    
      button:focus,button {
        border: none !important;
        outline:0 !important;
        outline:none !important;box-shadow:none; }
    
 
  