:host /deep/.membersBg
{
  
    background: url('src/assets/images/blur_bg_X2.jpg') no-repeat center 20%;
    background-size: cover;
   
}
:host /deep/.pagination-sm .page-link 
{
  font-size: 1.1rem;
}
.header-Text
{
 
 color:brown !important;
 
}
:host /deep/.input-small
{
  border-radius: 5px;
}

